body{
  margin:0;
  font-family: Arial;
  background:#f4f6f8;
  color:#111;
}

#app{
  max-width:600px;
  margin:0 auto;
  padding:10px;
}

.card{
  background:white;
  margin:10px 0;
  padding:12px;
  border-radius:12px;
  box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

button{
  margin:5px 5px 0 0;
  padding:8px 10px;
  border:0;
  border-radius:8px;
  background:#111;
  color:white;
  cursor:pointer;
}

button:hover{
  opacity:0.8;
}
