body{
  font-family: Arial;
  background:#111;
  color:#fff;
}

.card{
  background:#222;
  padding:15px;
  margin:10px;
  border-radius:10px;
}

button{
  margin:5px;
  padding:10px;
}

input{
  width:100%;
  padding:8px;
}
