body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 15px;
}

button {
  margin: 5px;
  padding: 10px;
}
.card {
  display: block;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h2, h3, p {
  display: block;
  margin: 6px 0;
}
